{% extends "base.html.twig" %}

{% block body %}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{type}} my-2" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endfor %}

        {# {{ dump(article) }} #}

    <h2>{{article.titre}}</h2>
    <img src="{{ asset("img/articles/" ~ article.image)}}" alt="">
    <p>{{article.contenu}}</p>
    
    <h4>
        Article appartenant à la catégorie 
        <a href="{{ 
            path(
                'singleCategorie', 
                {id:article.categorie.id}
            ) 
        }}">
            {{ article.categorie.name }}
        </a>
    </h4>
    <small>Le {{article.createdAt | date("d m Y h:i:s")}}</small>
{% endblock %}